/* Remove MW border */
.external-content code {
	border: 0;
	padding: unset;
}

/* SyntaxHighlight */
pre[class*="language-"] {
	margin: 1em 0;
	overflow: hidden;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
	background: #f8f9fa;
}

.external-content.line-numbers {
	/* Initial spacing before line numbers plugin runs */
	padding-left: 3.8em;
}

.line-numbers .line-numbers-rows {
	background-color: #f0f0f0;
	margin: -1em 0;
	padding: 1em 0;
	border-right: 1px solid #eaecf0;
}

.line-numbers-rows > span::before {
	color: #72777d;
}
